.details {
  position: fixed;
  position: absolute;
  width: 628px;
  height: 100%;
  background-color: #f3f6fa;
  top: 80px;
  left: 652px;
}

.details h2 {
  position: fixed;
  position: absolute;
  font-size: 25px;
  color: #1b2647;
  font-weight: 500;
  top: 10px;
  left: 10px;
}

.editposition {
  position: absolute;
  top: 180px;
  left: 150px;
}

.editfield {
  margin-top: 4px;
  display: block;
  width: 150%;
  padding: 10px 15px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-radius: 100px;
  transition: 0.4s;
}

.editfield:focus {
  box-shadow: 0px 0px 5px #d4d4d4;
}

.editchoose {
  margin-top: 4px;
  display: block;
  width: 150%;
  padding: 10px 15px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-radius: 100px;
}

.editbutton {
  margin-top: 30px;
  margin-left: 100px;
  height: 30px;
  width: 50%;
  color: white;
  border-radius: 5px;
  background: #011393;
}

.cancelbutton {
  margin-top: 30px;
  margin-left: 100px;
  height: 30px;
  width: 50%;
  color: white;
  border-radius: 5px;
  background: #f34e9b;
}
.cancelbutton:hover {
  background-color: #5c2c54;
}
.editbutton:hover {
  background-color: #2c385c;
}

.editicon {
  height: 100px;
  position: absolute;
  top: 45px;
  left: 258px;
}
