* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
.nav {
  background-color: #F34E9B;
  height: 80px;
  width: 1280px;
  z-index: 1;
}

.nav h2 {
  position: absolute;
  margin-top: 30px;
  margin-left: 16px;
  color: white;
}

.nav h3 {
  position: absolute;
  margin-top: 30px;
  margin-left: 220px;
  color: white;
}

.search {
  font-family: sans-serif;
  color: white;
  margin-right: 10px;
  text-align: right;
}
